body {
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.879);
  width: inherit;
  height: inherit;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 100%;
}
.sidebar {
  background-color: rgb(144, 144, 144);
  grid-column: 1/2;
  grid-row: 1/-1;
}
.sideBarHeader {
  text-align: center;
  margin: 16px;
}

svg {
  width: 2rem;
  height: 2rem;
  align-self: center;
}
.sideBarMainDaysContainer div {
  display: flex;
  gap: 0.2rem;
  width: fit-content;
}
.myProjects {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  justify-content: space-evenly;
}
.myProjects div,
.myTags div {
  align-self: center;
  margin-left: 2rem;
}

.myProjects svg {
  margin-left: auto;
  margin-right: 2rem;
}
.sideBarMain div:hover {
  color: rgb(77, 77, 255);
  fill: rgb(77, 77, 255);
}

.project {
  margin: 20px auto;
}

.myTags {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  justify-content: space-evenly;
  order: 2;
}

.myTags svg {
  margin-left: auto;
  margin-right: 2rem;
}

.sideBarMain {
  display: flex;
  flex-direction: column;
}

.mainContainer {
  display: grid;
  grid-template-rows: 1fr 7fr;
  grid-row: 1/-1;
  grid-column: 2/-1;
}
