html {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
label {
  background-color: rgb(135, 135, 135);
  justify-self: center;
  height: 40px;
  width: 100%;
  font-size: xx-large;
  text-align: center;
}
input {
  border-radius: 5px;
  height: 35px;
  width: 250px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: large;
}
.projectFormDiv {
  display: flex;
  flex-direction: column;
  background-color: rgb(92, 92, 92);
  width: 300px;
  height: 150px;
  align-items: center;
  justify-self: center;
  align-self: center;
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.submitButton {
  background-color: rgb(255, 120, 120);
}
.cancelButton {
  background-color: rgb(136, 255, 136);
}
.buttonDiv button {
  width: 150px;
  height: 50px;
  font-size: 1.6rem;
  font-weight: 800;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}
.buttonDiv button:hover {
  opacity: 0.5;
}

.hidden {
  display: none;
}
.project {
  margin: 20px auto;
}
.taskContainer {
  background-color: aliceblue;
  height: 90%;
  min-width: 500px;
  max-width: 500px;
  margin-top: 2.5%;
  margin-left: 2.5%;
  border-radius: 10px;
  transition: 20ms;
  display: flex;
  flex-direction: column;
}
.taskListContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.taskListContainer div {
  display: flex;
}
.inputContainer {
  display: flex;
}
.inputContainer input {
  flex: 1;
}

.incompleteTaskContainer {
  display: flex;
  flex-direction: column;
}
.completedTaskContainer {
  background-color: gray;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.523) 1%,
    transparent 50%
  );
  background-size: 1px 200px; /* Adjust the size of the cross line */
  background-position: 0 50%;
}
.taskListContainer > div {
  display: flex;
  flex-direction: column;
}
.taskDiv {
  border: 1px black solid;
  gap: 20px;
}
.incompleteTaskContainer {
  height: min-content;
}
.taskDiv > input {
  width: min-content;
  height: min-content;
}
